@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import "tailwindcss";

* {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}

body {
    @apply bg-[#43d6c0]
}

.analog-btn {
    box-shadow: #2B2C28 6px 6px 6px;
    transition: transform 100ms, box-shadow 100ms;
}

.analog-btn:active {
    box-shadow: 0px 0px 0px;
    transform: translatey(6px) translatex(6px);
}